# Ignorar diretórios de dependências
/vendor/

# Ignorar diretórios de cache
/cache/

# Ignorar arquivos de configuração locais
.env
.phpunit.result.cache

# Ignorar arquivos de log
*.log

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de IDEs
.idea/
.vscode/

# Ignorar outros arquivos temporários
*.tmp
*.swp
